:root {
    --clear-blue: #cfedfd;
    --sky-blue: #bfe6fb;
    --cloud-gray: whitesmoke;
    --dusk-blue: #81b1c9;
    --horizon-blue: #55859f;
    --night-blue: #115376;
    --pitch-black: #000000; 
}

/* Style the search field with Foundation example styling */
.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  

.cities
.weather-feature
#container
#cities-section
#search
#DC
#NYC
#BER
#TYO
#ADE
#cityToday
#currentCity
#currentCityDate
#currentCityTemp
#currentCityWind
#currentCityUVI